<div class="main-container">
  <header>
    <div class="logo-container"></div>
    <mat-form-field class="example-full-width" appearance="legacy">
      <mat-label>Search</mat-label>
      <input matInput />
      <mat-icon matSuffix aria-hidden="false" class="search-btn"
        >search</mat-icon
      >
    </mat-form-field>
    <div class="exit-container">
      <mat-icon aria-hidden="false" class="exit-btn">close</mat-icon>
    </div>
  </header>
  <div class="content-container">
    <div class="sidenav">
      <div class="categories"></div>
      <div class="price"></div>
    </div>
    <div class="content">
      <div class="items"></div>
      <div class="pagination"></div>
    </div>
  </div>
</div>
